.page {
  a {
    color: white;
    text-decoration: underline;
  }
  .whatsapp-link {
    background-color: white;
    display: block;
    color: #000;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
  }
  .selected-wrapper {
    margin-bottom: 20px;;
    .accordion {
      border: 0;
      .accordion-item {
        margin-bottom:3px;
        border:0;
        .title {
          padding:15px;
        }
      }
      .active {   
        .panel {
          border:0;
          padding:12px;
        }
      }
    }
  }
}
