.pay, .register-form-3 {
  .button {
    display: block;
    width: 100%;
  }
}

.pay {
  h3 {
    margin-bottom: 20px;
  }
  p {
    margin:1.5em 0;
  }
}

.opp-data {
  margin-top: 30px;
  font-size:9px;
  text-align: center;
}


