.PopupForm {
    display:inline;
    position: relative;
    button {
        background-color: transparent;
        border: 3px solid white;
        padding: 5px 20px;
        font-family: Bitter;
        font-size: 1.5rem;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;  
            color:#FB5916;      
        }

    }
}
